//font-size

$primary-font-size: 8rem;
$secondary-font-size: 4rem;
$tertiary-font-size: 2rem;

$paragraph-font-size: 1.6rem;
$card-heading-font-size: 2.4rem;
$card-sub-heading-font-size: 1.4rem;


//font-color

$primary-font-color: #091E3E;
$secondary-font-color: #EEF9FF;
$tertiary-font-color: #06a3da;


// background color

$primary-bg-color:#091e3e;
$secondary-bg-color: #3E506D;
$tertiary-bg-color:  #06a3da;


//Font family

$primary-font: "Nunito", sans-serif;
$secondary-font: "Rubik", sans-serif;

// Max Width

$max-width: 1440px;