  
  @keyframes changeImage {
    0% {
      background: linear-gradient(rgba(9, 30, 62, 0.7), rgba(9, 30, 62, 0.7)), url("/img/carousel-1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  
    25% {
      background: linear-gradient(rgba(9, 30, 62, 0.7), rgba(9, 30, 62, 0.7)), url("/img/carousel-2.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    50% {
      background: linear-gradient(rgba(9, 30, 62, 0.7), rgba(9, 30, 62, 0.7)), url("/img/carousel-1.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    75% {
      background: linear-gradient(rgba(9, 30, 62, 0.7), rgba(9, 30, 62, 0.7)), url("/img/carousel-2.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  
    100% {
      background: linear-gradient(rgba(9, 30, 62, 0.7), rgba(9, 30, 62, 0.7)), url("/img/carousel-1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }